<header class="header">
  <div class="container header-container">
    <div class="header-logo">
      <img src="assets/images/logo.png" alt="logo">
    </div>
    <nav class="header-menu">
      <ul>
        <li>
          <a href="#">Пироженки</a>
        </li>
        <li>
          <a href="#">О нас</a>
        </li>
        <li>
          <a href="#">Оформить заказ</a>
        </li>
      </ul>
    </nav>
    <div class="header-contacts">
      +375 (29) 368-98-68
    </div>
    <div class="menu-icon">
      <div class="icon-part"></div>
      <div class="icon-part"></div>
      <div class="icon-part"></div>
    </div>
  </div>
</header>


<section class="main">
  <div class="container main-container">
    <div class="main-text">
      <h1>Мягкие французские
        пироженки Macaroons</h1>
      <div class="main-description">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </div>
      <div class="main-button">
        <button class="button main-button">
          Выбрать макарун
        </button>
      </div>
    </div>
    <div class="rings"></div>
    <div class="rings2"></div>
    <div class="main-image">

      <img src="assets/images/main-image.png" alt="macaroons-box">

    </div>
  </div>
</section>

<section class="advantages">
  <div class="container advantages-container">

    <h2 class="main-advantages-text">
      Мы печём для вас
      вкуснейшие макаруны
      уже более 10 лет</h2>
    <div class="main-advantages-description">
      Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
      ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей,
      маргарина, разрыхлителей и улучшителей муки.
    </div>

    <div class="main-advantages-image">
      <img src="assets/images/advantages-macaroon.png" alt="macaroon">
    </div>


    <div class="main-advantages-cards">
      <div class="main-card" *ngFor="let advantage of advantages; let i=index;">
        <div class="main-card-icon ">
          <div class="ellips">

          </div>
          <div class="number">
            {{i + 1}}
          </div>
        </div>
        <div class="main-card-text">
          <h3> {{advantage.title}} </h3>
          {{advantage.description}}
        </div>

      </div>
    </div>

  </div>
</section>
<section class="goods">
  <div class="container goods-container">
    <h2 class="goods-title">
      Выберите свой макарун
    </h2>
    <div class="goods-card good1" *ngFor="let good of goods; let i=index;">
      <div class="goods-image">
        <img src="assets/images/{{good.image}}" alt="good">
      </div>
      <div class="goods-header">{{good.title}}</div>
      <div class="goods-about">
        <div class="goods-amount">1 шт.</div>
        <div class="goods-price">1,70 руб.</div>
      </div>
      <button class="button goods-button" (click)="scrollTo(ord)">Заказать</button>

    </div>
  </div>
</section>
<section class="order" #ord>
  <div class="container order-container">
    <div class="animation1">
      <img src="assets/images/str.png" alt="strawberry">
    </div>
    <div class="order-image">
      <img src="assets/images/order-image.png" alt="macaroons">
    </div>
    <div class="order-inputs">
      <h2 class="order-title">Закажите макарун!</h2>
      <div class="order-text">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </div>
      <div class="order-choice">
        <div class="order-label"> Ваш выбор</div>
        <input type="text" class="input order-input" placeholder="Напишите, что хотите заказать...">
      </div>
      <div class="order-data">
        <div class="order-label">Заполните данные для заказа</div>
        <input type="text" class="input name-input" placeholder="Ваше имя">
        <input type="text" class="input phone-input" placeholder="+375 (__) ___ - __ - __">
      </div>
      <div class="order-button">
        <button class="button order-button">Оформить заказ</button>
      </div>
    </div>
    <div class="animation2">
      <img src="assets/images/str2.png" alt="strawberry">
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container footer-container">
    <div class="footer-logo">
      <div class="footer-image"><img src="assets/images/logo.png" alt="logo"></div>
      <div class="footer-rights">
        Все права защищены, 2020
      </div>
    </div>

    <div class="footer-inst">
      <div class="inst-icon"><img src="assets/images/inst.png" alt="icon-inst"></div>
      <div class="inst-text">Мы в Instagram</div>
    </div>
    <div class="footer-phone">
      <div class="footer-number">+375 (29) 368-98-68</div>

    </div>


  </div>


</footer>
<div class="footer-present">

  <div class="present-text">

    <img src="assets/images/text-form.png" alt="text" class="text-form">
    <div class="form-text">Оформите заказ
      и получите подарок!
    </div>

  </div>
  <div class="present-ellips">
    <div class="present-icon">
      <img src="assets/images/present.svg" alt="present">
    </div>
  </div>
</div>
